[submodule "apps/comp2215/1415/space-invaders/AVR-Space_Invaders"]
	path = apps/comp2215/1415/space-invaders/AVR-Space_Invaders
	url = https://github.com/Southampton-ECS-COMP2215-Archive/AVR-Space_Invaders
[submodule "apps/comp2215/1415/FortunaTetris/FortunaTetris"]
	path = apps/comp2215/1415/FortunaTetris/FortunaTetris
	url = https://github.com/Southampton-ECS-COMP2215-Archive/FortunaTetris
[submodule "apps/comp2215/1415/lafortuna_snake/La-Fortuna-Snake"]
	path = apps/comp2215/1415/lafortuna_snake/La-Fortuna-Snake
	url = https://github.com/Southampton-ECS-COMP2215-Archive/La-Fortuna-Snake
[submodule "apps/comp2215/1415/TronFortuna/TronFortuna"]
	path = apps/comp2215/1415/TronFortuna/TronFortuna
	url = https://github.com/Southampton-ECS-COMP2215-Archive/TronFortuna
